@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/Inter-VariableFont_slnt,wght.ttf) format("ttf");
  }
}

h1 {
  @apply text-4xl font-bold mb-8;
}
h2 {
  @apply text-xl font-bold mb-8;
}
h3 {
  @apply text-lg font-bold mb-4;
}
h4 {
  @apply text-sm font-semibold uppercase tracking-widest mb-8
}
p {
  @apply mb-6;
}

/* Update category colors */
.development {
  @apply text-purple-500;
}
.release {
  @apply text-rose-500;
}
.uncategorized {
  @apply text-gray-500;
}

/* Project type colors */
.game {
  @apply text-pink-500;
}
.app {
  @apply text-yellow-500;
}
.website {
  @apply text-blue-500;
}
.other {
  @apply text-orange-500;
}

.floating-icon.development {
  @apply hover:!bg-purple-500 hover:!text-white;
}
.floating-icon.release {
  @apply hover:!bg-rose-500 hover:!text-white;
}
.floating-icon.uncategorized {
  @apply hover:!bg-gray-500 hover:!text-white;
}

.floating-icon.game {
  @apply hover:!bg-pink-500 hover:!text-white;
}
.floating-icon.app {
  @apply hover:!bg-blue-500 hover:!text-white;
}
.floating-icon.website {
  @apply hover:!bg-yellow-500 hover:!text-white;
}
.floating-icon.other {
  @apply hover:!bg-orange-500 hover:!text-white;
}

.development.active {
  @apply !bg-purple-500
}
.release.active {
  @apply !bg-rose-500
}
.uncategorized.active {
  @apply !bg-gray-500
}
.game.active {
  @apply !bg-pink-500
}
.app.active {
  @apply !bg-yellow-500
}
.website.active {
  @apply !bg-blue-500
}
.other.active {
  @apply !bg-orange-500
}
